{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
            <div class="card" style = "border-radius: 0;">
              <div class="card-body p-3" >
                <div class="row">
                  <div class="col-3">
                  </div>
                  <div class="col-4 text-end">
                    <input type="file" id="virus_check_file" class="form-control">
                  </div>
                  <div class="col-4">
                    <a href="#" id ="ioc_button" class="btn btn-sm btn-neutral" style = "background-color: #63B3ED; color: white;">CHECK</a>
                    <button type="button" class="btn btn-sm btn-neutral" style = "background-color: #63B3ED; color: white;" data-toggle="modal" data-target="#customModal" data-whatever="@custom">Cập nhật Black/White list</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3" >
          <div class="col-lg-3 mb-lg-0 mb-4" >
              <div class="card z-index-2 h-100" style = "border-radius: 0;">
                  <div class="card-header pb-0 pt-3 bg-transparent">
                      <h6 class="text-capitalize" style="color: green;text-align: center; vertical-align: middle;">White_ip</h6>
                  </div>
                  <div class="card-body">
                      <div class="card">
                          {% if a != 0 %}
                          <textarea id="blacklist-textbox" class="form-control" rows="10" style="height: 500px; color: green; font-size: 20px; text-align: center; padding-left: 0; line-height: 1.2;">{{ df_normal }}</textarea>
                          {% else %}
                          <textarea id="blacklist-textbox" class="form-control" rows="10" style="height: 500px; color: green; font-size: 20px; text-align: center; padding-left: 0; line-height: 1.2;"></textarea>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-3 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100" style = "border-radius: 0;">
              <div class="card-header pb-0 pt-3 bg-transparent">
                <h6 class="text-capitalize" style="color: green;text-align: center; vertical-align: middle;">White_list</h6>
              </div>
              <div class="card-body">
                <div class="card">
                  <textarea id="blacklist-textbox" class="form-control" rows="10" style="height: 500px; color: green;font-size: 20px;text-align: center; padding-left: 0;line-height:1.2;">{{white_list_new}}</textarea>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100" style = "border-radius: 0;">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    <h6 class="text-capitalize" style="color: green;text-align: center; vertical-align: middle;">Black_ip</h6>
                </div>
                <div class="card-body">
                    <div class="card">
                        {% if b != 0 %}
                        <textarea id="blacklist-textbox" class="form-control" rows="10" style="height: 500px; color: green; font-size: 20px; text-align: center; padding-left: 0; line-height: 1.2;">{{ df_malicious }}</textarea>
                        {% else %}
                        <textarea id="blacklist-textbox" class="form-control" rows="10" style="height: 500px; color: green; font-size: 20px; text-align: center; padding-left: 0; line-height: 1.2;"></textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
          </div>


          <div class="col-lg-3 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100" style = "border-radius: 0;">
              <div class="card-header pb-0 pt-3 bg-transparent">
                <h6 class="text-capitalize" style="color: red;text-align: center; vertical-align: middle">Black_list</h6>
              </div>
              <div class="card-body">
                <div class="card">
                  <textarea id="blacklist-now" class="form-control" rows="10" style="height: 500px;font-size: 20px;color: red; text-align: center; padding-left: 0;line-height:1.2;">{{black_list_new}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        


        <div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Cập nhật Black/White list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span >&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="color-select" class="col-form-label">Chọn danh sách muốn cập nhật</label>
                    <select class="form-control" id="color-select">
                      <option value="black">Black_list</option>
                      <option value="white">White_list</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="input-value" class="col-form-label">Danh sách IP bổ sung</label>
                    <textarea id="blacklist-textbox-update" class="form-control" rows="10" ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id ='update_button' class="btn btn-primary">Cập nhật</button>
              </div>
            </div>
          </div>
        </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>
    
  </script>

{% endblock javascripts %}
